.dropdownbox{
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  border-top: 1px solid rgb(229,229,229);
  border-left: 1px solid rgb(229,229,229);
  border-right: 1px solid rgb(229,229,229);
  border-bottom: 1px solid rgb(204,204,204);
  line-height: 9px;
  padding: 0px 11px;
  border-radius: 4px;
  gap: 6px;
  align-items: baseline;
  }